# Parking Meters in Boston

In [18]:
import sys
import os
# Use customsed liberary to import open data from boston api
sys.path.append(os.path.abspath(os.path.join(os.getcwd(), '..', 'Dana_Library')))
from bos_data_importer import bos_data_api_import as importer

# Use the imported function
resource_id = "df6dac6b-e484-470d-8757-6ecae4e04f2a"
df = importer(resource_id)
# Display the first few rows of the DataFrame
df.head()

,_id,X,Y,OBJECTID,METER_ID,VENDOR,PAY_POLICY,PRE_PAY,PARK_NO_PAY,GREEN_DOME,...,HOUSING_TYPE,HOUSING_MANUFACTURER,SIDEWALKGE,COIN_SLOTLE,METER_CONDITION,PERMIT_RATE,INSTALLED_ON,PURCHASED_DATE,METER_STATE,SPACE_STATE
0,1,771671.6127543,2953700.43340772,1,450001,Parkeon,08:00AM-08:00PM MON-SAT $0.25 120,None,"00:00AM-24:00AM SUN, 00:00AM-08:00AM MON-SAT, ...",None,...,None,None,None,None,None,None,1/1/2017 12:00:00 AM,None,ACTIVE,ACTIVE
1,2,771908.989248052,2953745.35523389,2,450002,Parkeon,08:00AM-08:00PM MON-SAT $0.25 120,None,"00:00AM-24:00AM SUN, 00:00AM-08:00AM MON-SAT, ...",None,...,None,None,None,None,None,None,1/1/2017 12:00:00 AM,None,ACTIVE,ACTIVE
2,3,771592.285813227,2953671.61063072,3,450003,Parkeon,08:00AM-08:00PM MON-SAT $0.25 120,None,"00:00AM-24:00AM SUN, 00:00AM-08:00AM MON-SAT, ...",None,...,None,None,None,None,None,None,1/1/2017 12:00:00 AM,None,ACTIVE,ACTIVE
3,4,771816.443829477,2953711.36350398,4,450004,Parkeon,08:00AM-08:00PM MON-SAT $0.25 120,None,"00:00AM-24:00AM SUN, 00:00AM-08:00AM MON-SAT, ...",None,...,None,None,None,None,None,None,1/1/2017 12:00:00 AM,None,ACTIVE,ACTIVE
4,5,771502.970375061,2953640.18746522,5,450005,Parkeon,08:00AM-08:00PM MON-SAT $0.25 120,None,"00:00AM-24:00AM SUN, 00:00AM-08:00AM MON-SAT, ...",None,...,None,None,None,None,None,None,1/1/2017 12:00:00 AM,None,ACTIVE,ACTIVE

In [12]:
df

,_id,X,Y,OBJECTID,METER_ID,VENDOR,PAY_POLICY,PRE_PAY,PARK_NO_PAY,GREEN_DOME,...,HOUSING_TYPE,HOUSING_MANUFACTURER,SIDEWALKGE,COIN_SLOTLE,METER_CONDITION,PERMIT_RATE,INSTALLED_ON,PURCHASED_DATE,METER_STATE,SPACE_STATE
0,1,771671.6127543,2953700.43340772,1,450001,Parkeon,08:00AM-08:00PM MON-SAT $0.25 120,None,"00:00AM-24:00AM SUN, 00:00AM-08:00AM MON-SAT, ...",None,...,None,None,None,None,None,None,1/1/2017 12:00:00 AM,None,ACTIVE,ACTIVE
1,2,771908.989248052,2953745.35523389,2,450002,Parkeon,08:00AM-08:00PM MON-SAT $0.25 120,None,"00:00AM-24:00AM SUN, 00:00AM-08:00AM MON-SAT, ...",None,...,None,None,None,None,None,None,1/1/2017 12:00:00 AM,None,ACTIVE,ACTIVE
2,3,771592.285813227,2953671.61063072,3,450003,Parkeon,08:00AM-08:00PM MON-SAT $0.25 120,None,"00:00AM-24:00AM SUN, 00:00AM-08:00AM MON-SAT, ...",None,...,None,None,None,None,None,None,1/1/2017 12:00:00 AM,None,ACTIVE,ACTIVE
3,4,771816.443829477,2953711.36350398,4,450004,Parkeon,08:00AM-08:00PM MON-SAT $0.25 120,None,"00:00AM-24:00AM SUN, 00:00AM-08:00AM MON-SAT, ...",None,...,None,None,None,None,None,None,1/1/2017 12:00:00 AM,None,ACTIVE,ACTIVE
4,5,771502.970375061,2953640.18746522,5,450005,Parkeon,08:00AM-08:00PM MON-SAT $0.25 120,None,"00:00AM-24:00AM SUN, 00:00AM-08:00AM MON-SAT, ...",None,...,None,None,None,None,None,None,1/1/2017 12:00:00 AM,None,ACTIVE,ACTIVE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6950,6951,761083.036818638,2952993.11986172,6951,None,IPS,08:00AM-06:00PM MON-SAT $0.25 120,None,"00:00AM-24:00AM SUN, 00:00AM-08:00AM MON-SAT, ...",None,...,None,None,None,None,None,None,4/1/2017 1:00:00 AM,None,ACTIVE,ACTIVE
6951,6952,761113.875667721,2952988.15825747,6952,None,IPS,08:00AM-06:00PM MON-SAT $0.25 120,None,"00:00AM-24:00AM SUN, 00:00AM-08:00AM MON-SAT, ...",None,...,None,None,None,None,None,None,4/1/2017 1:00:00 AM,None,ACTIVE,ACTIVE
6952,6953,761144.712548301,2952983.56115381,6953,None,IPS,08:00AM-06:00PM MON-SAT $0.25 120,None,"00:00AM-24:00AM SUN, 00:00AM-08:00AM MON-SAT, ...",None,...,None,None,None,None,None,None,4/1/2017 1:00:00 AM,None,ACTIVE,ACTIVE
6953,6954,761175.549756974,2952978.96405014,6954,None,IPS,08:00AM-06:00PM MON-SAT $0.25 120,None,"00:00AM-24:00AM SUN, 00:00AM-08:00AM MON-SAT, ...",None,...,None,None,None,None,None,None,4/1/2017 1:00:00 AM,None,ACTIVE,ACTIVE
6954,6955,None,None,6955,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None